<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
</head>

    <body>
        <div class="header fixed-top">
            <h1><a href="{{ path('app_main_home') }}"><img src="{{ asset('img/logo.png') }}" alt="Bucket-List"></a>
            Bucket-List</h1>
            {{ include('inc/nav.html.twig') }}
        </div>
            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        <div class="main">
            {% block body %}{% endblock %}
        </div>
        <div class="footer fixed-bottom">
            <p>&copy;Bucket-List {{ "now" | date('Y') }}</p>
        </div>
    </body>
</html>
