<nav>
    <ul>
        <li><a href="{{ path('app_main_home') }}" title="Home page">Home</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('wish_list') }}" title="Wish list">Wish List</a></li>
    </ul>
    {% if app.user %}
        <ul>
            <li><a href="{{ path('wish_create') }}" title="Create a wish">Create</a></li>
        </ul>
        <ul>
            <li><a href="{{ path('app_logout') }}" title="Logout">Logout</a></li>
        </ul>
        {% else %}

            <ul>
                <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
            </ul>
            <ul>
                <li><a href="{{ path('app_register') }}" title="Register">Create account</a></li>
            </ul>
    {% endif %}
    <ul>
        <li><a href="{{ path('app_main_aboutus') }}" title="About us">About us</a></li>
    </ul>
</nav>